<div class="social-icons">
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
    {% endif %}
    {% if site.weibo_id %}
      <a class="fa fa-weibo" href="https://weibo.com/{{ site.weibo_id }}" target="_blank"></a>
    {% endif %}
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"></a>
    {% endif %}
    
</div>
<div class="clearfix"></div>
